@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');

/* Font Size: 62.5% makes 1 rem = 10px, instead of the traditional 16px */
* { box-sizing: border-box; font-size: 62.5%; }

body {
    margin: 0;
    font-family: Bebas Neue, sans-serif;
    letter-spacing: .5rem;
    background-color: whitesmoke;
}

h1 {
    text-align: center;
    margin-top: 2.5rem; 
    margin-bottom: 1.5rem;
    font-size: 4rem; 
}

#grid {
    columns: 4;
    column-gap: 1rem;
    margin: 1rem;
}

#grid img {
    width: 100%;
    vertical-align: middle;
    margin-top: 1rem;
    object-fit: cover;
}

#loader {
    text-align: center;
}

/* Responsive layout - 3 column */
@media screen and (max-width: 1200px) {
    #grid { columns: 3;}
}

/* Responsive layout - 2 column */
@media screen and (max-width: 800px) {
    #grid { columns: 2;}
}

/* Responsive layout - 1 column */
@media screen and (max-width: 600px) {
    h1 { font-size: 2rem; }
    #grid { columns: 1;}
}